.u-section-1 {
  background-image: none;
  min-height: 672px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 672px;
  margin: 0 auto;
}

.u-section-1 .u-group-1 {
  margin-top: -368px;
  margin-bottom: 0;
  min-height: 368px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 34px 80px 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  width: 891px;
  margin: 31px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 30px;
  height: 368px;
  background-image: none;
  margin: -317px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 30px;
  height: 368px;
  background-image: none;
  margin: -368px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 794px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 408px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-shape-1 {
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-shape-2 {
    left: auto;
    right: 0;
    height: auto;
    margin: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -333px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 401px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -97px;
    min-height: 504px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 92px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 935px;
}

.u-section-2 .u-image-1 {
  width: 406px;
  height: 544px;
  object-position: 50% 0%;
  margin: 60px 343px 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 340px;
  width: 650px;
  margin: -341px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px 30px 45px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 1px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  text-shadow: 2px 2px 15px rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 3rem;
  margin: 16px 0 0 1px;
}

.u-section-2 .u-group-2 {
  width: 749px;
  min-height: 186px;
  margin: 46px 0 60px auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 0 0 1px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 27px auto 0 1px;
  padding: 9px 24px;
}

.u-section-2 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 181px;
  }

  .u-section-2 .u-group-1 {
    width: 567px;
    margin-top: -340px;
  }

  .u-section-2 .u-group-2 {
    width: 587px;
    min-height: 213px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: 65px;
    margin-right: 111px;
  }

  .u-section-2 .u-group-1 {
    width: 501px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 1px;
  }

  .u-section-2 .u-group-2 {
    width: 517px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 364px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 406px;
    min-height: 269px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-2 .u-image-1 {
    width: 294px;
    height: 413px;
    margin-right: auto;
    margin-left: 46px;
  }

  .u-section-2 .u-group-1 {
    min-height: 267px;
    width: 267px;
    margin-top: -267px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 294px;
    min-height: 325px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 46px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 543px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 937px;
  margin: 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 423px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  width: 126px;
  height: 126px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 325px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -96px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 120px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 862px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 130px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 632px;
  background-image: url("images/pexels-photo-3876764.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-image-2 {
  width: 489px;
  height: 344px;
  margin: -59px 0 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 317px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  margin-top: 0;
  margin-bottom: -61px;
  height: 348px;
}

.u-section-4 .u-image-4 {
  min-height: 317px;
  background-image: url("images/pexels-photo-1797418.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-4 .u-image-1 {
    min-height: 521px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 261px;
  }

  .u-section-4 .u-image-3 {
    height: 287px;
  }

  .u-section-4 .u-image-4 {
    min-height: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1402px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-image-1 {
    background-position: 50% 31.73%;
    min-height: 594px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-4 .u-image-2 {
    height: 395px;
    margin-top: -102px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 324px;
  }

  .u-section-4 .u-image-3 {
    height: 356px;
  }

  .u-section-4 .u-image-4 {
    min-height: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1709px;
  }

  .u-section-4 .u-image-1 {
    min-height: 446px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    width: 458px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 503px;
  }

  .u-section-4 .u-image-3 {
    height: 414px;
    width: 363px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    min-height: 486px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-4 .u-image-1 {
    min-height: 281px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-4 .u-image-2 {
    width: 228px;
    height: 276px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-4 .u-image-3 {
    height: 388px;
    width: 340px;
  }

  .u-section-4 .u-image-4 {
    min-height: 306px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 791px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 42px;
  margin-left: auto;
}

.u-section-5 .u-image-1 {
  min-height: 701px;
  background-image: url("images/pexels-photo-7704217.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 291px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 291px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 6px 0 0 auto;
}

.u-section-5 .u-text-2 {
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 43px;
  width: 43px;
  margin: 30px 0 0 auto;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 410px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-5 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 61px;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 744px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 269px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 475px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 830px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 301px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 301px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 29px 22px;
  }

  .u-section-5 .u-icon-1 {
    height: 41px;
    width: 41px;
    margin-top: 16px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 558px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 20px;
    padding-left: 22px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-5 .u-image-1 {
    min-height: 825px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 61px;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 519px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 645px;
}

.u-section-6 .u-group-1 {
  width: 651px;
  min-height: 578px;
  margin: 60px auto;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-6 .u-line-1 {
  width: 252px;
  height: 20px;
  transform-origin: left center;
  margin: 9px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  line-height: 1.6;
  margin: 9px auto 0 0;
}

.u-section-6 .u-text-3 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 60px 0 0;
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 761px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 671px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 277px;
  height: 384px;
  margin: 59px auto 0 0;
}

.u-section-7 .u-shape-1 {
  width: 82px;
  height: 338px;
  margin: -255px 0 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 672px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 67px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 70px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-image-2 {
  min-height: 336px;
  background-image: url("images/pexels-photo-3375230.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  min-height: 336px;
  background-image: url("images/pexels-photo-3261141.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 721px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 258px;
    height: 358px;
    margin-left: 30px;
  }

  .u-section-7 .u-shape-1 {
    height: 276px;
    margin-top: -228px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 721px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    min-height: 277px;
  }

  .u-section-7 .u-image-3 {
    min-height: 277px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 905px;
  }

  .u-section-7 .u-image-1 {
    width: 239px;
    height: 332px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-1 {
    height: 186px;
    margin-top: -132px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-2 {
    min-height: 212px;
  }

  .u-section-7 .u-image-3 {
    min-height: 212px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2284px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 686px;
  }

  .u-section-7 .u-image-1 {
    width: 335px;
    height: 464px;
  }

  .u-section-7 .u-shape-1 {
    height: 381px;
    margin-top: -325px;
    margin-right: 144px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 561px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 561px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 669px;
  }

  .u-section-7 .u-image-1 {
    width: 270px;
    height: 443px;
    margin-top: 0;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -304px;
    margin-right: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-7 .u-image-2 {
    min-height: 353px;
  }

  .u-section-7 .u-image-3 {
    min-height: 353px;
  }
}.u-section-8 {
  background-image: url("images/pexels-photo-5936860.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 602px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 719px;
  margin: 60px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 363px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 119px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 29px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 30px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
  }
}